@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand&display=swap");
* {
  margin: 0;
  color: #5a3e2b;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.form-title {
  font-size: 2rem;
  font-weight: bold;
}
.header {
  font-family: "Monoton", cursive;
  text-align: center;
  font-size: 5rem;
  background-color: #f4a226;
  text-transform: uppercase;
  padding: 1.5rem 0;
  word-spacing: 30px;
  letter-spacing: -5px;
}
.form-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e5771f;
  padding: 1.5rem 0;
}
.input-field-container {
  display: flex;
  gap: 1rem;
}
.input-field {
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
}
select,
.btn,
.input-field {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 0.5rem 1.7rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}
.btn {
  text-transform: uppercase;
  background-color: #76c7ad;
  cursor: pointer;
  color: #5a3e2b;
}
.footer {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 2rem 0;
}
.todo {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}
.todo-list {
  list-style: none;
  width: 65vw;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}
.todo-list li {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
}
.todo-list li h4 {
  color: white;
}
.todo-list li input[type="checkbox"] {
  cursor: pointer;
  height: 1.3rem;
  width: 1.3rem;
  accent-color: #e5771f;
}
.todo-list li button {
  background-color: #5a3e2b;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}
.bottom-stats {
  display: flex;
  gap: 2rem;
}
.actions-button,
.list-select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}
.actions-button {
  background-color: #ffebb3;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
}
.todo-item{
  text-decoration: line-through;
}